body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu{
    padding: 20px;
    background: #005883;
    width: 100%; 
}
.menu a{
    color: white;
}
.tabla{
    width: 90%;
    margin: 60px;
}

h1{
    color: #005883;
}

li{
    padding: 15;
}